body{
    background: #efefef;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    text-size-adjust: 12px;
    color: aqua;
}
p{
    color: cadetblue;
    text-shadow: chartreuse;
}